* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: #fff;
}

/* ------------Home------------ */
#header {
    width: 100%;
    height: 93vh;
    background-image: url("../img/dark-bg.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

.container span {
    color: rgb(227, 62, 141);
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav ul li a::before {
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(220, 47, 125);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

nav ul li a:hover::before {
    width: 100%;
}

.header-text {
    margin-top: 22%;
    font-size: 22px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-text p {
    color: rgb(158, 151, 151);
}

.header-text h1 {
    margin-top: 6px;
    font-size: 38px;
}

.homeleft {
    flex-basis: 58%;
}

.homeright {
    flex-basis: 38%;
}

#header .homeright img {
    margin-top: -20%;
    height: 370px;
    width: 96%;
}

/* --------------------about--------------- */

#about {
    padding: 26px 0;
    color: #ababab;
    margin-top: 2%;
}


#about .left img {
    mix-blend-mode: difference;
    height: 390px;
    width: 90%;
    border-radius: 16px;
}

.left {
    flex-basis: 35%;
}

.right {
    flex-basis: 58%;
}

.sub-title {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
}


.tab-links {
    display: inline-block;
    position: relative;
    margin: 22px 0;
    font-size: 20px;
    font-weight: 500;
}

.tab-links::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: rgb(220, 47, 125);
    position: absolute;
    left: 0;
    bottom: -6px;
}

.tab-content ul li {
    list-style: none;
    margin: 6px;
    padding: 2px;
}

/* --------------services------------------ */

#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 26px;
}

.services-list div {
    background-color: #262626;
    padding: 12px;
    margin: 8px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 12px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 48px;
    margin-bottom: 24px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 22px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-top: 16px;
    display: inline-block;
}

.services-list div:hover {
    background-color: rgb(217, 66, 134);
    transform: translateY(-8px);
}

/*-------------------------projects-----------------------*/

#project {
    padding: 30px 0;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 26px;
}

.proj {
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.proj img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 36px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    margin-bottom: 16px;
    font-size: 1.16rem;
}

.layer a {
    margin-top: 14px;
    text-decoration: none;
    color: #ff004f;
    font-size: 18px;
    line-height: 56px;
    background: #fff;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
}

.proj:hover img {
    transform: scale(1.1);
}

.proj:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 42px auto;
    padding: 14px 48px;
    border: 2px solid #ff004f;
    border-radius: 6px;
    width: fit-content;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: background 0.4s;
}

.btn:hover {
    background: #ff004f;
}

/* -----------------------contact----------------- */

.left-contact {
    flex-basis: 35%;
}

.right-contact {
    flex-basis: 60%;
}

.left-contact p {
    margin-top: 12px;
}

.left-contact p i {
    margin-right: 12px;
    color: #ff004f;
    font-size: 20px;
}

.social-icons a {
    display: inline-block;
    color: #ababab;
    text-decoration: none;
    font-size: 32px;
    margin: 36px 18px 0 0;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.right-contact form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 8px;
    margin: 8px 0;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
}

form .btn2 {
    width: 100%;
    margin-top: 14px;
    padding: 12px 44px;
    font-size: 16px;
    cursor: pointer;
}

.footer {
    width: 100%;
    background: #262626;
    padding: 10px 0;
    text-align: center;
    font-weight: 300;
}

/* ------------------------for small screens------------ */
nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 760px) {

    .container {
        padding: 10px 4%;
    }

    #header {
        background-image: url("../img/dark-bg.jpg");

    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        margin-top: 6px;
        font-size: 22px;
    }

    nav h2 {
        font-size: 18px;
    }

    nav .fa-solid {
        display: block;
        font-size: 16px;
        margin-top: 6px;
    }

    nav ul {
        position: fixed;
        background: #ff004f;
        top: 0;
        right: -130px;
        height: 100vh;
        width: 130px;
        padding-top: 46px;
        z-index: 2;
        transition: right 0.36s;
    }

    nav ul li {
        display: block;
        margin: 16px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 18px;
        left: 18px;
        cursor: pointer;
    }
    .homeright{
        flex-basis: 80%;
    }
    .homeleft{
        flex-basis: 100%;
    }
    .header-text {
        margin-top: 34%;
    }
    #header .homeright img {
        height: 100%;
        margin-bottom: 18%;
    }

    .sub-title {
        font-size: 24px;
    }

    .left{
        flex-basis: 96%;
    }
    .right {
        flex-basis: 100%;
    }

    .right {
        font-size: 14px;
    }

    .tab-links {
        font-size: 18px;
    }

    #about .left img {
        height: 76%;
    }

    #services,
    #about,
    #project {
        padding: 4px 0;
    }

    .services-list div i {
        font-size: 36px;
        margin-bottom: 16px;
    }

    .services-list div h2 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 14px;
    }

    .services-list div {
        font-size: 16px;
        font-weight: 400;
        border-radius: 10px;
    }

    .left-contact,
    .right-contact {
        flex-basis: 100%;
    }

    .left-contact p i {
        margin-right: 10px;
        font-size: 18px;
    }

    .social-icons a {
        font-size: 28px;
        margin: 28px 18px 0 10px;
    }

    .btn {
        margin: 28px auto;
        padding: 12px 40px;
        font-size: 16px;
    }

    form .btn2 {
        width: 100%;
        margin-top: 12px;
        padding: 10px 40px;
        font-size: 16px;
        cursor: pointer;
    }

    .footer {
        font-size: 12px;
        padding: 6px 0;
    }
}